//Menu button box
.btn-box {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  width: 30px;
  height: 25px;
}

//Menu button
.menu-btn {
  position: relative;
  top: 50%;
  width: 28px;
  height: 3px;
  background: #fff;
  @include easeOut;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    opacity: 1;
    @include easeOut;
  }
  &::before {
    position: relative;
    bottom: 8px;
  }
  &::after {
    position: relative;
    top: 5px;
  }

  //rotate into x with menu lines
  &.close {
    transform: rotate(180deg);
    transform-origin: center;
    //line1 - rotate
    &:before {
      width: 15px;
      transform: rotate(45deg) translate(10px, 10px);
      transform-origin: center;
    }
    //line3 - rotate
    &:after {
      width: 15px;
      transform: rotate(-45deg) translate(10px, -10px);
      transform-origin: center;
    }
  }
}

//menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0);
    }
  }
}
